<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrump-item active">Home</li>
  </ol>
</nav>

<div class="card border-danger mb-3" id="telaHome">
  <div class="card-header">Sobre o Sistema</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">O Projeto Sistema de Gestão de Tarefas foi desenvolvido como parte do processo seletivo do Grupo Esig.
      Assim é possivel colocar em prática o conhecimento adquirido na Universidade. O Sistema permite realizar o CRUD (Cadastrar, Listar, Atualizar e excluir) tarefas.
      O login e senha são criados de forma fixa e uma vez logado no sistema pode navegar em todas as opções do sistema.
      Se o usuário estiver deslogado, então não pode acessar as rotas do sistema, na tentativa de acessar as rotas sem está logado o sistema
      vai direcionar sempre para a tela de login, é possivel realizar busca de tarefa por nome da tarefa que esta na lista.
      Para Mokar os dados da aplicação foi utilizado o In Memory DB (https://github.com/angular/in-memory-web-api),
      assim podendo realizar todas as operações do CRUD.</p>
  </div>
</div>
